:root {
    --light-pink: #FFE6E3;
    --dark-purple: #2d65c0;
    --green: #e5f3dc;
    --light-yellow: #F1E3BA;
    --brown: #A88271;
    --cream: #efeee8;
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(239, 255, 255);
    margin: 0px;
    color: #2d65c0;
}

/* header for all pages */
header {
    display: flex;
    background-color: var(--dark-purple);
    padding-top: 10px;
    padding-bottom: 5px;

    h3 {
        flex-basis: 75%;
        margin-top: 10px;
        padding-left: 10px;
        color: snow;
        font-size: .8rem;
    } 
    
    nav {
        flex-basis: 25%;
        justify-content: flex-end;
        display: flex;
        flex-direction: row;
        gap: 5px;
        line-height: 25px;
        margin-right: 5px;
    }
}

a {
    color: snow;
    text-decoration: none;
    border: 1px solid snow;
    border-radius: 25px;
    padding: 5px 10px; 
}

a:hover {
    border-color: snow;
    background-color: snow;
    color: #2d65c0
}

a:visited{
    color: #0D3059;
    background-color: #DFBE7D;
    border-color: #DFBE7D;

}

/* page title section for resume and portfolio */
.page-title{
    display: flex;
    gap: 10px;
    h1 {
        margin-right: 45px;
    }
    button {
        background-color: rgb(239, 255, 255);
        border: 2px solid #2d65c0;
        height: 50px;
        align-self: center;
        border-radius: 25px;
    }

}

/* main body for all pages */
main{
    display : flex;
    flex-direction: row;
    margin: 0px 10px;
    gap: 10px;
    flex: 1 0 100%;
}

/* main for home page */
#main-title {
    text-align: left;
    margin-top: 70px;
    margin-left: 100px;
    font-size: 32pt;
    color: #2d65c0;
    font-size: 32pt;
}

/* home page text body section */
.text-body{
    display: flex;
    flex-direction: row;
}

.text-body img {
    margin-top: 25px;
    margin-left: 90px;
    float: left;
}

.text-body p {
    color: #2d65c0;
    margin-top: 50px;
    margin-left: 20px;
    font-size: 1.2rem;
    width: 750px;
}

/* main for resume page */
.main-resume {
    display: felx;
}

.technologies {
    position: absolute;
    z-index: 1
}

.work {
    position: absolute;
    z-index: 2
    
}

.education {
    position: absolute;
    z-index: 3;

}

/* main for portfolio page */
.main-page {
    flex-direction: column;
    gap: 0px;
}

.editor-trees {
    flex-basis: 50%;
}

.starlit-botany {
    flex-basis: 50%;
}

/* all images */
img{
    border: 3px solid #2d65c0;
    width: 350px;
    border-radius: 50px;
}

/* heading tags for all pages*/
h1{
    margin-left: 10px;
}

/* footer for all sections */
footer {
    text-align: center;
    background-color: var(--dark-purple);
    padding-top: 20px;
    padding-bottom: 10px;

    a {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

