:root {
    --light-pink: #FFE6E3;
    --dark-purple: #2d65c0;
    --green: #e5f3dc;
    --light-yellow: #F1E3BA;
    --brown: #A88271;
    --cream: #efeee8;
}
body {
    display: flex;
    flex-direction: column;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgb(239, 255, 255);
    margin: 0px;
    color: #2d65c0;
}

/* header for all pages */
header {
    display: flex;
    background-color: var(--dark-purple);
    padding-top: 10px;
    padding-bottom: 5px;
}

header h3 {
    flex-basis: 85%;
    margin: 0px;
    padding-left: 10px;
    color: snow;
    font-size: .75rem;
    line-height: 30px;
}

header nav {
    flex-basis: 15%;
    text-align: center;
    line-height: 25px;
    margin-right: 10px;
    padding: 0px;
}

button {
    line-height: 15px;
    border: 1px solid snow;
    background-color: #2d65c0;
    border-radius: 25px;
    padding: 5px 10px;
}

a {
    color: snow;
    text-decoration: none;
    border: 1px solid snow;
    border-radius: 25px;
    padding: 5px 10px; 
}

a:hover {
    border-color: snow;
    background-color: snow;
    color: #2d65c0
}

a:visited{
    color: #0D3059;
    background-color: #DFBE7D;
    border-color: #DFBE7D;

}

/* main body */
main{
    display : flex;
    flex-direction: row;
    margin: 0px 10px;
    gap: 10px;
    flex: 1 0 100%;
}

.main-page {
    flex-direction: column;
    gap: 0px;
}

.technologies {
    flex-basis: 20%;
}

.work-education {
    flex-basis: 80%;
    
}

.editor-trees {
    flex-basis: 50%;
}

.starlit-botany {
    flex-basis: 50%;
}

#main-title {
    text-align: left;
    margin-top: 70px;
    margin-left: 100px;
    font-size: 32pt;
    color: #2d65c0;
    font-size: 32pt;
}

img{
    border: 3px solid #2d65c0;
    width: 350px;
    border-radius: 50px;
}

/* main page text body section */
.text-body{
    display: flex;
    flex-direction: row;
}

.text-body img {
    margin-top: 25px;
    margin-left: 90px;
    float: left;
}

.text-body p {
    color: #2d65c0;
    margin-top: 50px;
    margin-left: 20px;
    font-size: 1.2rem;
    width: 750px;
}

/* heading tags for all pages*/

h1{
    margin-left: 10px;
}

/* footer for all sections */
footer {
    text-align: center;
    background-color: var(--dark-purple);
    padding-top: 20px;
    padding-bottom: 10px;
}